<div class="container">
    <div class="centered-card">
        <div class="card">
            <div class="card-content">
                <h1 class="intelix-title">InteLIX</h1>
                <p class="text">Uma solução prática e inovadora para pequenas e grandes cidades</p>

                <div class="users custom-font">
                    <span class="text-bold">Usuários</span>
                    <div class="user-count">
                        <img src="assets/usuarios.png" alt="user count icon">

                    </div>
                </div>

                <div class="actions">
                    <div class="button-container">
                        <button class="button green-button">Comece a usar</button>
                        <button class="button white-button">Ler mais</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>