<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="tit">InteLix</h1>
        <div class="logo-section">
          <img src="assets/logo.png" alt="Logo">
          <p>
            A InteLIX se destaca por sua abordagem inovadora na gestão de resíduos urbanos, transformando a coleta de
            lixo em um processo mais eficiente e sustentável.
          </p>
        </div>
      </div>
      <div class="col-md-3 links">
        <h3 class="links-title">Links</h3>
        <ul>
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Our Class</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 recursos">
        <h3 class="recursos-title">Recursos</h3>
        <ul>
          <li><a href="#">Suporte</a></li>
          <li><a href="#">Política de Privacidade</a></li>
          <li><a href="#">Termos & Condições</a></li>
        </ul>
      </div>
      <div class="col-md-3 midias">
        <h3 class="midias-title">Mídias Sociais</h3>
        <ul class="social-icons">
          <li><a href="#"><mat-icon>facebook</mat-icon></a></li>
          <li><a href="#"><img class="twitter-icon" src="assets/twitter.png" alt="Twitter"></a></li>
          <li><a href="#"><img class="twitter-icon" src="assets/insta.png" alt="Twitter"></a></li>
          <li><a href="#"><img class="twitter-icon" src="assets/link.png" alt="Twitter"></a></li>
          <li><a href="#"><img class="twitter-icon" src="assets/youtube.png" alt="Twitter"></a></li>
        </ul>

      </div>
    </div>
  </div>
</footer>