<div class="container">
  <div class="row align-items-stretch">
    <div class="col-md-6 d-flex flex-column">
      <div class="card mb-5 shadow custom-card flex-fill">
        <div class="custom-image-container">
          <img src="assets/capa.png" class="card-img-top custom-image" alt="Imagem">
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex flex-column">
      <div class="card mb-4 about-card flex-fill">
        <div class="subtitulo">
          <div class="line"></div>
          Sobre Nós
        </div>
        <p class="card-text-p">{{ descricao }}</p>
        <button class="ler-mais-button" (click)="lerMais()">Ler mais <mat-icon>arrow_forward</mat-icon></button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-3">
      <h3><span class="hundred">15</span><span class="k-green">+</span></h3>
      <p>Meses de experiência</p>
    </div>
    <div class="col-md-3">
      <h3><span class="hundred">100</span><span class="k-green">k</span></h3>
      <p>A menos em custos</p>
    </div>
    <div class="col-md-3">
      <h3><span class="hundred">45</span><span class="k-green">+</span></h3>
      <p>Pontos de melhoria</p>
    </div>
    <div class="col-md-3">
      <h3><span class="hundred">98</span><span class="k-green">%</span></h3>
      <p>Usuários satisfeitos</p>
    </div>
  </div>
</div>