<div class="container">
  <header class="header">
    <nav class="nav">
      <ul>
        <li><a routerLink="/about">Sobre nós</a></li>
        <li><a routerLink="/locations">Localizações</a></li>
        <li><a routerLink="/contact">Contato</a></li>
        <li><a routerLink="/area-servidor">Área Servidor</a></li>
      </ul>
      <div class="search-bar">
        <input type="text" placeholder="Search" />
      </div>
      <div class="logo">
        <img src="assets/logo.png" alt="Logo" />
      </div>

    </nav>
  </header>